<%- include('particle/header')-%>
<a href="/auth/github" class="m-5 text-decoration-none">
  login-by-github
</a>

<a href="/auth/google" class="m-5 text-decoration-none">
  login-by-google
</a>
<%- include('particle/footer')-%>
